*.PrjPCBStructure
*.SchDocPreview
*.PcbDocPreview
__Previews
*.REP
*.TLT
*.LOG
*.SchDoc.Zip
*.PrjPcb.Zip
*.PcbDoc.Zip


# Useless directories
Electronics\Smartknob\ Outputs
Electronics\Smartknob\ Logs
Project Outputs for*

# History
History